* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    background-color: white;
    border: 1px solid black;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-left: 40%;
    margin-top: 20%;
}

h2 {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #4CAF50;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #13b4e6;
}
